.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.timer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 30px;
}

.timerItemInteger {
  width: 100px;
  height: 240px;
  background: url('~/src/assets/images/timer.png') no-repeat;
  background-size: 1100px 240px;
}

.timerItemDecimal {
  width: 70px;
  height: 168px;
  margin-bottom: 15px;
  background: url('~/src/assets/images/timer.png') no-repeat;
  background-size: 770px 168px;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin: 20px 100px;
}

.button {
  padding: 20px;
  font-size: 20px;
  border-radius: 10px;
}
